{% extends "base.html" %} {% block content %}
<div class="jumbotron jumbotron-fluid my-5">
  <div class="container">
    <h1 class="display-4">
      <i class="fas fa-child"></i> <i class="fas fa-car"></i>
      <i class="fab fa-dribbble"></i> Explore toys
    </h1>
  </div>
</div>
<div id="toy">
  <div class="container">
    <div class="row">
      {% for toy in toys %}
      <div class="col-10 mx-auto my-3 col-md-6 col-lg-4">
        <div class="card">
          <!-- <img
            src="{{ MEDIA_URL }}images/{{ toy.image }}"
            class="card-img-top"
            alt="..."
          /> -->
          <img src="images/{{ toy.image }}" class="card-img-top" alt="..." />

          <div class="card-body">
            <h5 class="card-title">{{toy.name}}</h5>
            <a href="/toy/{{toy.id}}" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
